:root{
    --color-black:#000000;
    --color-gray: #DEE5E7;
    --color-gray-dark: #989a9a;
    --color-light:#F5F4F4;
    --color-brown:#9F8652;
    --color-blue:#193E86;
    --color-yellow: #fae41c;
    --color-blue-light:#1f6aab;
}

body{
    font-family:'Roboto', sans-serif;
    background-image: linear-gradient(rgba(49, 48, 48, 0.4), rgba(26, 26, 24, 0.4)), url('../imagenes/back4.png') ;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: var(--color-gray);
    -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 3s; /* Firefox < 16 */
        -ms-animation: fadein 3s; /* Internet Explorer */
         -o-animation: fadein 3s; /* Opera < 12.1 */
            animation: fadein 3s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
a {
  text-decoration: none;
}


.card{
    width: 50%;
    margin: 200px auto;
    position: relative;
    background: rgba(5,7,12,0.30);
    border-radius: 10px;
}
.cuadrado{
    width: 100%;
    height:100%;
    margin: 0px auto;
    padding:20px;
    position: relative;
    background: rgba(5,7,12,0.30);
    border-radius: 10px;
}

.texto{
    font-family:'Roboto', sans-serif;
    font-weight: bold;
    margin: .3em auto;
    position: relative;
    font-size: calc(.8em + .8vw);
    color: var(--color-blue-light)!important;
    text-align:center;
}

.login-head{
  font-family:'Roboto', sans-serif;
  /* font-weight: bold; */
  /* display: flex; */
  align-items: center;
}
.login-head ion-icon {
  vertical-align: text-bottom;
  color: #000000!important;
  /* margin-right: 1px; */
  align-self: center;
}

.font-text{
    font-size: calc(0.5em + 0.5vw);
    font-weight: bold;
    margin-bottom: 10px;
    color: var(--color-black)!important;
    text-align:center;
}

.form-control{
    font-size: calc(0.5em + 0.5vw);
}
.btn{
    background-color: var(--color-blue);
    
}
.btn-primary{
    background: var(--color-blue)!important;
    border-color: var(--color-blue-light)!important;
    display: block;
    margin: 0 auto;
    width: fit-content;
}

.btn-primary:hover{
    background: var(--color-blue-light)!important;
}
.login-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    min-height: 100vh;
  }
  

.login-content .login-box {
  position: relative;
  min-width: 550px;
  min-height: 420px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.55);
  /* background-color: #fff; */
  -webkit-box-shadow: 0px 29px 147.5px 102.5px rgba(0, 0, 0, 0.03), 0px 29px 95px 0px rgba(0, 0, 0, 0.03);
          box-shadow: 0px 29px 147.5px 102.5px rgba(0, 0, 0, 0.03), 0px 29px 95px 0px rgba(0, 0, 0, 0.03);
  -webkit-perspective: 800px;
          perspective: 800px;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}


.login-content .login-box .login-head {
  margin-top: 0;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ddd;
  color: var(--color-black);
  text-align: center;
}

.login-content .login-box label {
  color: #666;
  font-weight: 700;
}

.login-content .login-box .utility {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login-content .login-box .btn-container {
  margin-bottom: 0;
}

.login-content .login-box .login-form, .login-content .login-box .forget-form {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 40px;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.login-content .login-box .forget-form {
  opacity: 0;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.login-content .login-box.flipped {
  min-height: 320px;
}

.login-content .login-box.flipped .login-form {
  opacity: 0;
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.login-content .login-box.flipped .forget-form {
  opacity: 1;
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}
  
@media (max-width: 576px) {
  body {
    background-image: linear-gradient(rgba(49, 48, 48, 0.45), rgba(26, 26, 24, 0.45)), url('../imagenes/backCelular.png') ;
  }
  .login-content .login-box {
    position: relative;
    min-width: 300px;
    min-height: 430px;
    background: rgba(255, 255, 255, 0.6);
  }
  .login-content .login-box.flipped{
    min-width: 300px;
    min-height: 350px;
  }
  .login-content .login-box .login-form, .login-content .login-box .forget-form {
    width: 100%;
  }
  .form-check-label {
    font-size: 13px;
  }
  .font-text{
    font-size: calc(0.7em + 0.7vw)!important;
  }
  .form-control{
    font-size: calc(0.65em + 0.65vw)!important;
  }
  .text-forgot{
    font-size: 13px;
  }
}    
.form-check-label{
    color: var(--color-black)!important;
    font-weight: 50px!important;

}

.text-forgot{
    font-weight: bold!important;
    color: var(--color-blue)!important;
}
.text-forgot:hover{
    color: var(--color-blue-light)!important;
}

ion-icon {
    color:var(--color-blue)!important;
  }

.form-check-input:checked{
    background-color: var(--color-gray-dark)!important;
    border-color: var(--color-black)!important;
}
.form-check-input:focus, .label::after, label.form-check-label:focus, .form-check-input::after, .form-check-input:not(:disabled):not(.disabled):active:focus {
    color: var(--color-gray-dark)!important;
    outline: 0;
    border: 0;
    box-shadow: 0 0 0 0.1rem rgb(72, 71, 71) !important;
}

.toggle.lg input[type="checkbox"] + .button-indecator:before {
font-size: 30px;
}

.toggle input[type="checkbox"] {
display: none;
}

.toggle input[type="checkbox"] + .button-indecator {
cursor: pointer;
display: block;
-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
        user-select: none;
}

.toggle input[type="checkbox"] + .button-indecator:before {
    content: "";
    font-family: "FontAwesome";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    font-size: 25px;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    margin-right: 5px;
    vertical-align: -2px;
}

.toggle input[type="checkbox"]:checked + .button-indecator:before {
content: "";
color: #009688;
-webkit-animation: toggleBtn 0.3s ease-in-out;
        animation: toggleBtn 0.3s ease-in-out;
}

.toggle input[type="checkbox"]:disabled + .button-indecator {
cursor: not-allowed !important;
}

.toggle input[type="checkbox"]:disabled + .button-indecator:before {
color: #ccc;
}

.toggle-flip input[type="checkbox"] {
display: none;
}

.toggle-flip input[type="checkbox"] + .flip-indecator {
position: relative;
width: 60px;
height: 30px;
display: block;
cursor: pointer;
-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
        user-select: none;
-webkit-perspective: 90px;
        perspective: 90px;
}

.toggle-flip input[type="checkbox"] + .flip-indecator:before, .toggle-flip input[type="checkbox"] + .flip-indecator:after {
position: absolute;
top: 0;
left: 0;
display: inline-block;
width: 100%;
line-height: 30px;
-webkit-backface-visibility: hidden;
        backface-visibility: hidden;
text-align: center;
border-radius: 3px;
-webkit-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
transition: all 0.5s ease;
}

.toggle-flip input[type="checkbox"] + .flip-indecator:before {
content: attr(data-toggle-off);
background-color: #ddd;
}

.toggle-flip input[type="checkbox"] + .flip-indecator:after {
content: attr(data-toggle-on);
background-color: #009688;
color: #fff;
-webkit-transform: rotateY(-180deg);
        transform: rotateY(-180deg);
}

.toggle-flip input[type="checkbox"]:checked + .flip-indecator:before {
-webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
}

.toggle-flip input[type="checkbox"]:checked + .flip-indecator:after {
-webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
}

.toggle-flip input[type="checkbox"]:disabled + .flip-indecator {
cursor: not-allowed !important;
color: #ccc;
}

@-webkit-keyframes toggleBtn {
0% {
    opacity: 0;
    -webkit-transform: translateX(-1px);
            transform: translateX(-1px);
}
100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
}
}

@keyframes toggleBtn {
0% {
    opacity: 0;
    -webkit-transform: translateX(-1px);
            transform: translateX(-1px);
}
100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
}
}
