:root{
  --color-black:#212529;
  --color-cream:#eee9e1 ;
  --color-gray: #a3a9ab;
  --color-gray-dark: #4a4a4a;
  --color-dark:#3B3535;
  --color-light:#F5F4F4;
  --color-brown:#9F8652;
  --color-blue:#4b83bb;
  --color-yellow: #fae41c;
  --color-blue-light:#5490c4;
  --color-blue-dark:#3c6894;
}

body{
  font-family:'Roboto', sans-serif;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: var(--color-cream);
  -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 1s; /* Firefox < 16 */
      -ms-animation: fadein 1s; /* Internet Explorer */
       -o-animation: fadein 1s; /* Opera < 12.1 */
          animation: fadein 1s;
}
@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.header_container{
  display: flex;
  justify-content: space-between;
}

.dropdown:hover .dropdown-menu{
  display: block;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}
.logo, h1 {
  vertical-align: middle;
  align-self: center;
}
.logo{
  width: 51px;;
  height:74px;
}

.text{
  font-size: 30px;
  font-weight: bold;
}

.header-container {
  display: flex;
  align-items: center;
  height: 75px!important;
  background-color: var(--color-blue-light);
}

.fluid{
  padding-right: 35px;
  background-color: var(--color-blue-light);
}
.container-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 23px;
  padding-bottom: 23px;
  transition: background-color 0.4s;
}
.container-icon i.menu, .container-icon a{
    color: var(--color-black)!important;
    font-size: 20px;
}

.container-icon:hover{
  background-color: var(--color-blue-dark)!important;
}

.container-icon ion-icon{
  font-size: 30px;
}
.container-icon ul.dropdown-menu{
    margin-top: 200px!important;
    margin-right: 30px!important;
}
.container-icon ul.dropdown-menu.show{
    margin-top: 14px!important;
    margin-left: 45.5px!important;
}
.item:hover{
    background-color: #acd4f4;
}

.text-date{
  font-size: 16px;
  padding-right: 15px;
  font-weight: bold;
  vertical-align: middle;
}
.user-info{
  flex-grow: 1; /* Permite que user-info ocupe todo el espacio disponible */
  display: flex;
  align-items: center;
  justify-content: flex-end; /* Alinea el contenido a la derecha */
  white-space: nowrap;
  margin-left: 30px;
  margin-right: 30px!important;
}

.user-info ion-icon {
  vertical-align: text-bottom;
}


main {
  display: flex;
  flex-wrap: nowrap;
  height: 100vh;
  height: -webkit-fill-available;
  max-height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;
}

.sidebar{
  width: 200px; 
  height: 100vh;
  background-color: var(--color-black)!important;
  position: fixed;
}


.hidden {
  display: none;
}
.nav a, ul{
  color: var(--color-cream)!important;
}
.nav ul{
  margin-left: 25px!important;
  font-size: 14px;
}
.nav a:hover,
a:focus,
ul:focus {
  color: var(--color-gray)!important;
}
.nav-item.show{
  color: var(--color-gray)!important;
}

@media (max-width: 576px) {
  .header-container {
    height: 60px!important;
  }  
  .fluid{
    padding-top: 12px;
    padding-right: 10px;
  }
  .logo{
    margin-left: 10px;
    width: 34px;;
    height:47px;
  }
  .text{
    font-size: 15px;
  }
  .text-date{
    font-size: 14px;
  }
 
  .container-icon {
    padding-top:20px;
    padding-bottom: 20px;
  }
  .container-icon ion-icon{
    font-size: 20px;
  }
  .container-icon ul.show{
    margin-top: 4px!important;
    /* position: absolute; */
  }
  .item{
    font-size: 16px!important;
  }
  .user-info{
    margin-left: 10px;
    margin-right: 10px!important;
  }
  .user-info .container-icon{
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .sidebar{
    width: 90px; 
    align-items: center;
  }
  .tmenu{
    margin-left: 19px!important;
    align-items: center;
  }
  .nav ul{
    color: var(--color-cream)!important;
  }
  
}